  body::before{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(hatter.jpg); 
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    background-attachment: fixed;  
    background-repeat: no-repeat; 
    background-position: center bottom; 
}
